body {
    width: 100%;
    height: 100%;
    background: rgb(204, 208, 228);
    font-family: "Times", serif;
}

* {
    margin: 10;
    padding: 20;
}


/* 
обнулить отступы и поля у всех элементов на странице, используйте стилевые свойства margin и padding с нулевыми значениями, добавляя их к универсальному селектору *
*/