button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.blue {
    background-color: blue;
    color: rgb(64, 57, 71);
    padding: 35px 45px;
}
.some {
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 
.blue:hover {
    background-color: yellow;
}

.one {
    background-color: grey;
    border: 2px;
    color: rebeccapurple;
    padding: 25px 45px;
}
.two {
    background-color: #4CAF50;
    border: none;
    color: white;
} 
.three {
    background-color: silver;
    border: 2px;
    color: rgb(7, 1, 14);
    padding: 22px 23px;
} 
.four {
    background-color: blueviolet;
    border: 5px;
    color: yellowgreen;
}
.red {
    background-color: red;
    border: 5px;
    color: yellowgreen;
}
.red:hover {
    background-color: sienna;
}
#first.btn-block {
    background-color: rgb(233, 229, 218);
}